:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Cubre toda la pantalla */
  background-image: url('/assets/1330116.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white; /* Color del texto, si lo necesitas */
}

img {
  width: 200px;
  margin-top: 20px;
}
